<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Questions</title>
	<link rel="stylesheet" href="css/style_questions.css">
</head>
<body>
	<div id="main-container">
		<div id="side-menu">
			<div id="logo-container">
				<img id="hhz-logo" src="../images/logo.png" alt="hhz logo">
				Clash of Students
			</div>
			<div id="mode-container">
				<a href="">
                    <div class="link">
                        <img class="select-icon" src="../images/auswahl.png" alt="auswahl icon">
                        Multiple Choice
                    </div>
                </a>

				<a href="">
                    <div class="link">
                        <img class="select-icon" src="../images/bild_auswahl.png" alt="bild auswahl icon">
                        Multiple Choice Image
                    </div>
                </a>

				<a href="">
                    <div class="link">
                        <img class="select-icon" src="../images/bild.png" alt="bild icon">
                        Image Description
                    </div>
                </a>

				<a href="">
                    <div class="link">
                        <img class="select-icon" src="../images/text.png" alt="text icon">
                        Text Description
                    </div>
                </a>
			</div>
		</div>
		<div id="content">
			<div id="question-container">
				<p class="in-box-p">Frage</p>
				<input id="frage" type="text">
			</div>

			<div id="answers">
				<div class="row-answers">
					<div class="answer" id="answer1">
						<p class="in-box-p">Antwort A</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
					<div class="answer" id="answer2">
						<p class="in-box-p">Antwort B</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
				</div>
				
				<div class="row-answers">
					<div class="answer" id="answer3">
						<p class="in-box-p">Antwort C</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
					<div class="answer" id="answer4">
						<p class="in-box-p">Antwort D</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
				</div>
			</div>

			<div id="button-container">
				<button id="confirm-button">Absenden</button>
			</div>
			
		</div>
	</div>
</body>
</html>