<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Questions</title>
	<link rel="stylesheet" href="css/style_questions.css">
	<link rel="stylesheet" href="css/style_file_upload.css">
</head>
<body>
	<div id="main-container">
		<div id="side-menu">
			<div id="logo-container">
				<img id="hhz-logo" src="../images/logo.png" alt="hhz logo">
				Clash of Students
			</div>
			<div id="mode-container">
				<button id="multiple-choice" class="mode-button">
                    <div class="link">
                        <img class="select-icon" src="../images/auswahl.png" alt="auswahl icon">
                        Multiple Choice
                    </div>
                </button>

				<button id="multiple-choice-image" class="mode-button">
                    <div class="link">
                        <img class="select-icon" src="../images/bild_auswahl.png" alt="bild auswahl icon">
                        Multiple Choice Image
                    </div>
                </button>

				<button id="image-description" class="mode-button">
                    <div class="link">
                        <img class="select-icon" src="../images/bild.png" alt="bild icon">
                        Image Description
                    </div>
                </button>

				<button id="text-description" class="mode-button">
                    <div class="link">
                        <img class="select-icon" src="../images/text.png" alt="text icon">
                        Text Description
                    </div>
                </button>
			</div>
		</div>
		<div id="content">
			<div id="question-container">
				<div id="question-input">
					<p class="in-box-p">Question</p>
					<input id="frage" type="text">
				</div>
				<div id="file-upload">
					<label id = "upload-command" for="upload-image">Upload your file: </label>
					<input type="file" id="upload-image" accept="image/*">
					<div id="before-upload">
						<div>
							<img id="image-icon" src="../images/bild.png" alt="image icon">
							<h4>Drag & Drop image file or Browse</h4>
							<p>	Supports: JPEG, PNG, GIF, TIFF</p>
						</div>
					</div>
					<div id="after-upload">
						<div id="clear-btn">Remove</div>
						<img id = "image-drop" src="" alt="">
					</div>
				</div>
			</div>
			

			<div id="answers">
				<div class="row-answers">
					<div class="answer" id="answer1">
						<p class="in-box-p">Answer A</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
					<div class="answer" id="answer2">
						<p class="in-box-p">Answer B</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
				</div>
				
				<div class="row-answers">
					<div class="answer" id="answer3">
						<p class="in-box-p">Answer C</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
					<div class="answer" id="answer4">
						<p class="in-box-p">Answer D</p>
						<input id="inputA" class="answer-entry" type="text">
					</div>
				</div>
			</div>

			<div id="button-container">
				<button id="confirm-button">Submit</button>
			</div>
			
		</div>
	</div>
	<script src="../js/question.js"></script>
	<script src="../js/image-upload.js"></script>
</body>
</html>