<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style_course.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
          <div class="navbar-brand">
            <span class="brand">Meine Kurse</span>
          </div>
          <div class="navbar-menu">
            <button class="profile-btn">Profil</button>
            <button class="logout-btn">Logout</button>
          </div>
        </div>
      </nav>
    <div class="background-image"></div>
  <div class="container">
    <div class="course">
      <div class="course-header">
        <h2>WS 23/24</h2>
        <button class="toggle-btn">▼</button>
      </div>
      <div class="lessons">
        <div class="lesson">
          <button class="play-btn">▶</button>
          <span>Cloud Computing</span>
        </div>
        <div class="lesson">
          <button class="play-btn">▶</button>
          <span>Entrepreneurship</span>
        </div>
        <div class="lesson">
          <button class="play-btn">▶</button>
          <span>Digital Business</span>
        </div>
        <div class="lesson">
          <button class="play-btn">▶</button>
          <span>Distributed Systems</span>
        </div>
      </div>
    </div>
  </div>

  <script src="js/course.js"></script>
</body>
</html>