<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="name">Clash of Students Fragen Eingabe</div>
		<div class="question-selector">
			<div>Welche Fragentyp willst du verwenden?</div>
			<div>
				<select name="question-types" id="question-selector">
					<option value="multiple-choice">Multiple Choice</option>
					<option value="multiple-choice-image">Multiple Choice Image</option>
					<option value="image-answer">Describe Image</option>
					<option value="text-answer">Answer question</option>
				</select>
			</div>
		</div>

		<div class="question-entry" id = "entry-container">
		</div>

		<div class = "confirm-button-container"><button id="confirm">Absenden</button></div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
