<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="name">Clash of Students Fragen Eingabe</div>
		<div class="question-selector">
			<div>Welche Fragentyp willst du verwenden?</div>
			<div>
				<select name="question-types" id="question-selector">
					<option value="multiple-choice">Multiple Choice</option>
					<option value="multiple-choice-image">Multiple Choice Image</option>
					<option value="image-answer">Describe Image</option>
					<option value="text-answer">Answer question</option>
				</select>
			</div>
		</div>

		<div class="question-entry">
			<div class="question">Frage: <textarea id="question-content" rows="3"></textarea></div>
			<div class="answers">
				<div class="answer-12">
					<div class="answer-1">Answer A: <textarea id="answerA" rows="2"></textarea></div>
					<div class="answer-2">Answer B: <textarea id="answerB" rows="2"></textarea></div>
				</div>

				<div class="answer-34">
					<div class="answer-3">Answer C: <textarea id="answerC" rows="2"></textarea></div>
					<div class="answer-4">Answer D: <textarea id="answerD" rows="2"></textarea></div>
				</div>
			</div>

			<div><button id="confirm">Absenden</button></div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
