@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  margin: 0px;
}

#main-container {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/game.png'); 
  background-size: cover;
}

#signup-header {
  font-size: 30px;
  text-align: center;
  color: #333;
  font-weight: 600;

}

#sign-up-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #69d7ff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    border-radius: 10px;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#sign-up-container input {
    height: 60px;
    width: 380px;
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
}

form input:focus {
  box-shadow: 2px 2px 0 #ddd;
}

form a {
  color: #333;
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}

.submitBtn {
  height: 60px;
  border: none;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

