* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-image: url('../images/game.png');
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .ranking-header {
    background-color: #333;
    padding: 20px;
    border-radius: 12px;
    background: #69d7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  /* Ranking Liste */
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  li {
    background: rgba(255, 255, 255);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
  }
    
  .rank {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .name-score {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .highlight {
    background-color: #ffeda5;
  }