/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('../images/game.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Inhalt */

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; 
}


.course {
  width: 60%;
  margin-bottom: 20px;
  border-radius: 12px;
  background: rgba(51, 51, 51, 0.9);
}

.course-header {
  padding: 20px;
  border-radius: 12px;
  background: #69d7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lessons {
  display: none;
  padding: 10px;
}

.lesson {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-top: 10px;
  color: white;
}

.play-btn {
  background-color: #69d7ff;
  border: none;
  height: 40px;
  width: 40px;
  color: white;
  padding: 8px 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#login-hint {
  width: 500px;
  height: 200px;
  background: white;
  align-self: center;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

#login-hint a {
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
  color: blue;
}

#container {
  display: flex;
  flex-direction: column;
}
