#login-hint {
    width: 500px;
    height: 200px;
    background: white;
    align-self: center;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
}

#login-hint a {
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
    color: blue;
}

#container {
    display: flex;
    flex-direction: column;
}