/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url('../images/game.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* This is the key property */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Tab Container */
.tab-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab-link {
  width: 200px;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
}

.tab-link:hover {
  background-color: #E6EEF4;
}

.tab-link.active {
  background-color: #69d7ff;
}

/* Content */

.tab-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  display: none;
  margin: 0 auto;
}

.tab-content.active {
  display: block;
}

h2 {
  color: #000000;
  margin-bottom: 10px;
}

.course-item {
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.header-container {
  padding: 15px;
  background-color: #E6EEF4;
}

.title-container {
  display: flex;
  align-items: center;
}

.all-courses {
  justify-content: space-between;
}

.course-title {
  font-size: 24px;
  color: #000000;
  text-align: left;
}

.exit-icon {
  background-color: transparent;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.info-details {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-right: 20px;
  min-width: 200px;
}

.info-deco {
  width: 4px;
  height: 40px;
  background-color: #69d7ff;
  margin-right: 8px;
  border-radius: 4px 0 0 4px;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.info-content span {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.toggle-icon.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.toggle-icon {
  transition: transform 0.3s;
}

.course-item.active .lessons {
  display: block;
}

.course-item.active .toggle-icon {
  transform: rotate(180deg);
}

.lessons {
  display: none;
  background-color: #ffffff4f;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.lesson {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.lesson:last-child {
  margin-bottom: 0;
}

.play-btn {
  background-color: #69d7ff;
  border: none;
  height: 40px;
  width: 40px;
  color: white;
  padding: 8px 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.enroll-btn {
  background-color: #ffffff;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 120px;
  justify-content: center;
}

.enroll-btn.enrolled {
  background-color: #a4ecb4;
  cursor: default;
}

#login-hint {
  width: 500px;
  height: 200px;
  background: white;
  align-self: center;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

#login-hint a {
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
  color: blue;
}

#container {
  display: flex;
  flex-direction: column;
}