/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('../images/game.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Navigation */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

.hidden {
  display: none;
}

#profile-logout {
  margin-right: 40px;
}
#profile-btn,
#logout-a {
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
background-color: transparent;
border: none;
color: #fff;
cursor: pointer;
text-decoration: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
/* Icons Navbar */
.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #333;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.icon:hover {
  background-color: #555;
}

.icon:focus {
  box-shadow: 0 0 0 2px #69d7ff;
}



/* Profil Anzeige */
.dropdown-menu {
  position: absolute;
  display: flex;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  right: 10px;
  top: 90px;
  width: auto;
}

.dropdown-menu.hidden {
  display: none;
}

.dropdown-menu .profile-info p {
  margin: 5px 0;
  color: #333;
}

.dropdown-menu .profile-info a {
  color: #333;
  text-decoration: none;
}

.dropdown-menu .profile-info a:hover {
  text-decoration: underline;
}

.password-link {
  display: inline-block;
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#setting-svg {
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.password-link:hover {
  text-decoration: underline;
}

/* Inhalt */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.course {
  margin-bottom: 20px;
  border-radius: 12px;
  background: rgb(51, 51, 51, 0.9);
}

.course-header {
  background-color: #333;
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  background: #69d7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lessons {
  display: none;
  padding: 10px;
}

.lesson {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-top: 10px;
  color: white;
}

.play-btn {
  background-color: #69d7ff;
  border: none;
  height: 40px;
  width: 40px;
  color: white;
  padding: 8px 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#login-hint {
  width: 500px;
  height: 200px;
  background: white;
  align-self: center;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

#login-hint a {
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
  color: blue;
}

#container {
  display: flex;
  flex-direction: column;
}