<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login & Signup Form</title>
  <link rel="stylesheet" href="css/style_login.css" />
</head>
<body>
  <section class="wrapper">
    <div class="form students">
      <header>Clash of Students</header>
      <% if (target === "student" && error) {%>
        <div id = "error-container">
          <img id = "red-dot" src="../images/red_dot.png" alt="a red dot">
          <%=error%></div>
        <%}%>
      <form id="loginForm" action="/log-in-student" method="post" >
        <input type="text" id="email" name="email" placeholder="HHZ Email address" required />
        <input type="password" id="password" name="password" placeholder="Password" required />
        <a href="#">Forgot password?</a>
        <button class = "loginBtn">Log In</button>
        <a href="/sign-up-student">No account yet? Sign up</a>
      </form>
    </div>

    <div class="form profs">
      <header>Professors Hub</header>
      <% if ((target === "professor" && error)) {%>
        <div id = "error-container">
          <img id = "red-dot" src="../images/red_dot.png" alt="a red dot">
          <%=error%></div>
        <%}%>
      <form action="/log-in-prof" method="post">
        <input type="text" name="email" placeholder="HHZ Email address" required />
        <input type="password" name="password" placeholder="Password" required />
        <a href="#">Forgot password?</a>
        <button class = "loginBtn">Log In</button>
        <a href="/sign-up-prof">No account yet? Sign up</a>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
      const target = "<%= target %>";
      if (target === "professor") {
          wrapper.classList.add("active");
          document.body.classList.add('background-profs');
          document.body.classList.remove('background-students');
      } else if (target === "student") {
          wrapper.classList.remove("active");
          document.body.classList.add('background-students');
          document.body.classList.remove('background-profs');
      }
  });
    </script>
    <script src="../js/login.js"></script>
  </section>
</body>

</html>