<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_navbar.css">
</head>

<body>
    <% if (user) { %>
        <nav class="navbar">
            <div class="navbar-container">
                <div>
                    <span class="title">Clash of Students</span>
                </div>
                <div class="navbar-menu">
                    <button id="icon-add-question" class="icon" title="Fragen hinzufügen">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="35" height="35">
                            <path d='M3.5 12a7.5 7.5 0 1 1 3.91 6.586a.75.75 0 0 0-.555-.066l-3.25.87l.872-3.252a.75.75 0 0 0-.066-.553A7.46 7.46 0 0 1 3.5 12M11 3a9 9 0 0 0-8.048 13.032l-.908 3.389a1.25 1.25 0 0 0 1.53 1.53l3.387-.906A9 9 0 1 0 11 3m6 22a8.98 8.98 0 0 1-6.732-3.026a10 10 0 0 0 2.109-.068A7.47 7.47 0 0 0 17 23.5a7.46 7.46 0 0 0 3.59-.914a.75.75 0 0 1 .555-.066l3.25.87l-.872-3.252a.75.75 0 0 1 .066-.553A7.5 7.5 0 0 0 24.5 16a7.5 7.5 0 0 0-3.825-6.54a10 10 0 0 0-.75-1.974a9.004 9.004 0 0 1 5.123 12.547l.908 3.388a1.25 1.25 0 0 1-1.531 1.53l-3.386-.906A9 9 0 0 1 17 25m-5-8.5a1 1 0 1 1-2 0a1 1 0 0 1 2 0M9.5 9.257l.002-.032a1.5 1.5 0 0 1 .183-.606C9.837 8.348 10.153 8 11 8s1.163.348 1.315.618a1.5 1.5 0 0 1 .185.635v.003c-.002.522-.305.858-.914 1.534l-.018.021c-.58.643-1.318 1.514-1.318 2.939a.75.75 0 0 0 1.5 0c0-.825.386-1.329.932-1.935l.125-.137C13.308 11.13 14 10.374 14 9.25v-.002l-.001-.049l-.006-.095a3 3 0 0 0-.37-1.222C13.211 7.152 12.402 6.5 11 6.5s-2.212.652-2.622 1.382A3 3 0 0 0 8 9.231v.019a.75.75 0 0 0 1.5.007'/>
                        </svg>
                    </button>
                    <button id="icon-manage-question" class="icon" title="Fragen verwalten">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="35" height="35">
                            <path d='M10 3a7 7 0 0 0-6.107 10.425a.5.5 0 0 1 .05.366l-.756 3.022l3.022-.756a.5.5 0 0 1 .366.05a6.96 6.96 0 0 0 3.019.881q.276.543.66 1.008a7.97 7.97 0 0 1-3.992-.921l-3.64.91a.5.5 0 0 1-.607-.606l.91-3.641a8 8 0 1 1 15.07-3.484a5.5 5.5 0 0 0-1.007-.66A7 7 0 0 0 10 3m2.065 8.442a2 2 0 0 1-1.43 2.478l-.461.118a4.7 4.7 0 0 0 .01 1.016l.35.083a2 2 0 0 1 1.455 2.519l-.126.423q.387.306.835.517l.325-.344a2 2 0 0 1 2.91.002l.337.358q.439-.203.821-.498l-.156-.556a2 2 0 0 1 1.43-2.478l.461-.118a4.7 4.7 0 0 0-.01-1.017l-.349-.082a2 2 0 0 1-1.456-2.52l.126-.421a4.3 4.3 0 0 0-.834-.519l-.325.344a2 2 0 0 1-2.91-.001l-.337-.358a4.3 4.3 0 0 0-.822.497zM14.5 15.5a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/>
                        </svg>
                    </button>
                    <button id="icon-manage-course" class="icon" title="Kurse verwalten" width="35" height="35">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d='M5.5 3A2.5 2.5 0 0 0 3 5.5v9A2.5 2.5 0 0 0 5.5 17h4.1a5.5 5.5 0 0 1-.393-1H5.5A1.5 1.5 0 0 1 4 14.5V7h12v2.207q.524.149 1 .393V5.5A2.5 2.5 0 0 0 14.5 3zM4 5.5A1.5 1.5 0 0 1 5.5 4h9A1.5 1.5 0 0 1 16 5.5V6H4zm5 3v6a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5M6 9v5h2V9zm3.998-.5a.5.5 0 0 1 .5-.5H14.5a.5.5 0 1 1 0 1h-4.002a.5.5 0 0 1-.5-.5m2.068 2.942a2 2 0 0 1-1.43 2.478l-.462.118a4.7 4.7 0 0 0 .01 1.016l.35.083a2 2 0 0 1 1.456 2.519l-.127.422q.388.307.835.518l.325-.344a2 2 0 0 1 2.91.002l.337.358q.44-.203.822-.498l-.156-.556a2 2 0 0 1 1.43-2.479l.46-.117a4.7 4.7 0 0 0-.01-1.017l-.348-.082a2 2 0 0 1-1.456-2.52l.126-.421a4.3 4.3 0 0 0-.835-.519l-.325.344a2 2 0 0 1-2.91-.001l-.337-.358a4.3 4.3 0 0 0-.822.497zM14.5 15.5a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/>
                        </svg>
                    </button>
                    <button id="icon-profile" class="icon" title="Profil">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="35" height="35">
                            <path d="M11.5 14c4.14 0 7.5 1.57 7.5 3.5V20H4v-2.5c0-1.93 3.36-3.5 7.5-3.5m6.5 3.5c0-1.38-2.91-2.5-6.5-2.5S5 16.12 5 17.5V19h13zM11.5 5A3.5 3.5 0 0 1 15 8.5a3.5 3.5 0 0 1-3.5 3.5A3.5 3.5 0 0 1 8 8.5A3.5 3.5 0 0 1 11.5 5m0 1A2.5 2.5 0 0 0 9 8.5a2.5 2.5 0 0 0 2.5 2.5A2.5 2.5 0 0 0 14 8.5A2.5 2.5 0 0 0 11.5 6" />
                        </svg>
                    </button>
                    <button id="icon-logout" class="icon" title="Logout">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="35" height="35">
                            <path d="M5.616 20q-.691 0-1.153-.462T4 18.384V5.616q0-.691.463-1.153T5.616 4h6.403v1H5.616q-.231 0-.424.192T5 5.616v12.769q0 .23.192.423t.423.192h6.404v1zm10.846-4.461l-.702-.72l2.319-2.319H9.192v-1h8.887l-2.32-2.32l.702-.718L20 12z" />
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
        <div class="dropdown-menu hidden" id="profile-dropdown">
            <div class="profile-info">
                <p id="profile-name">
                    <%= user.firstname %>
                    <%= user.lastname %>
                </p>
                <p id="profile-email">
                    <%= user.email %>
                </p>
                <a href="/reset-password-request" class="password-link">
                    <svg id="setting-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                        <path fill="#333"
                            d="M31.707 19.293l-3-3a1 1 0 0 0-1.414 0L18 25.586V30h4.414l9.293-9.293a1 1 0 0 0 0-1.414M21.586 28H20v-1.586l5-5L26.586 23zM28 21.586L26.414 20 28 18.414 29.586 20zM16 22c-3.364 0-6-2.636-6-6s2.636-6 6-6 6 2.636 6 6-2.636 6-6 6m0-10c-2.28 0-4 1.72-4 4s1.72 4 4 4 4-1.72 4-4-1.72-4-4-4" />
                        <path fill="#333"
                            d="M27.547 12l1.733-1-2.336-4.044a2 2 0 0 0-2.373-.894l-2.434.823a11 11 0 0 0-1.312-.758l-.503-2.52A2 2 0 0 0 18.36 2h-4.72a2 2 0 0 0-1.962 1.608l-.503 2.519c-.46.224-.906.469-1.327.753l-2.42-.818a2 2 0 0 0-2.373.894l-2.36 4.088a2 2 0 0 0 .412 2.502l1.931 1.697C5.021 15.495 5 15.745 5 16q0 .387.028.766l-1.92 1.688a2 2 0 0 0-.413 2.502l2.36 4.088a2 2 0 0 0 2.374.894l2.434-.823q.627.423 1.312.758l.503 2.519A2 2 0 0 0 13.64 30H16v-2h-2.36l-.71-3.55a9.1 9.1 0 0 1-2.695-1.572l-3.447 1.166-2.36-4.088 2.725-2.395a8.9 8.9 0 0 1-.007-3.128l-2.719-2.39 2.361-4.087 3.427 1.16A9 9 0 0 1 12.93 7.55L13.64 4h4.721l.71 3.55a9.1 9.1 0 0 1 2.695 1.572l3.447-1.166z" />
                    </svg>
                Passwort ändern
                </a>
            </div>
        </div>
        <% } else { %>
            <div id="container">
                <div id="login-hint">
                    Please <a href="/"> log in</a> to view this page!
                </div>
            </div>
            <% } %>
                <script src="js/navbar-prof.js"></script>
</body>
</html>